@using VirtualOfficeToolManager.Domain
@using VirtualOficeTool.Models
@model VirtualOficeTool.Models.ReportViewModel
@{
    var mode = (int) Mode.Creation;
}
  <fieldset>
        <legend>PromotionViewModel</legend>
      <div class="row clearfix">
          <h1><b>Create New Report</b></h1>
          <br><br>
          @using (Html.BeginForm("CreateReport", "Reports", FormMethod.Post))
          {
    
            <input id="mode" type="hidden" value="@mode" />
              <div class="col-md-6">
             @Html.ValidationSummary(true,"",new{@class="alert-danger"})
                  <div class="form-group">
                      @Html.LabelFor(model => model.Name)
                      @Html.TextBoxFor(model => model.Name)
                      @Html.ValidationMessageFor(model => model.Name)

                  </div>
                  <div class="form-group">
                      @Html.LabelFor(model => model.IsStandAlone)
                      @Html.CheckBoxFor(model => model.IsStandAlone)
                      @Html.ValidationMessageFor(model => model.IsStandAlone)

                  </div>
                  <div class="form-group">
                      @Html.LabelFor(model => model.Category)
                      @(Html.Kendo().DropDownListFor(model => model.Category)
                            .OptionLabel("Select Category")
                            .BindTo(new List<SelectListItem>()
                            {
                                new SelectListItem
                                {
                                    Text = "Portfolio", Value = "Portfolio"
                                },
                                new SelectListItem
                                {
                                    Text = "Sales", Value = "Sales"
                                }
                            }))
                      @Html.ValidationMessageFor(model => model.Category)

                  </div>
           
                  <div class="form-group">
                      @Html.LabelFor(model => model.Query)
                      @(Html.Kendo().DropDownListFor(model => model.Query)
                      .OptionLabel("Select Procedure")
                      .DataSource(source => source.Read(read => read.Action("GetStoredProcedureNames", "Reports"))
                      .ServerFiltering(true))
                      .AutoBind(false))
                      @Html.ValidationMessageFor(model => model.Query)

                  </div>
                  @*<button id="parametersSelection" type="button" onclick="showParameters()" class="btn-warning">Get Parameters</button>*@
                  <button id="resetOutPutSelection" style="display: none" type="button" onclick="onResetOutPutSelection()" class="btn-warning">Reset OutPut</button>
                  <br>
                    
                  <div class="alert alert-danger" style="display: none" id="OutPutSummary">
                      <p>
                          <strong></strong><label id="OutPutError"></label>
                      </p>
                  </div>
                  <button id="outPutSelection" type="button" onclick="onOutPutSelection()" class="btn-warning">Run to Select OutPut</button>
                  @*<div id="parametersDiv" style="display: none">
                      @Html.Partial("~/Views/PartialViews/ReportsParametersGrid.cshtml")
                      <button id="outPutSelection" type="button"  onclick="onOutPutSelection()" class="btn-warning">Run to Select OutPut</button>
                  </div>*@
               

                  <div id="outPut" style="display: none">
                      @Html.Partial("~/Views/PartialViews/ReportColumns.cshtml", false)
                      @Html.ValidationMessageFor(model => model.OutPut)  
                  </div>
                        
                  <br>
              </div>
              <div class="col-md-6">
               
               <h4>Predefined Filters</h4>
                  @Html.Partial("~/Views/PartialViews/PredefinedFilterReports.cshtml")
               
               <br>

               <div id="subReportsDiv">
                   <h4>SubReports Associated</h4>
                   @Html.Partial("~/Views/PartialViews/SubReportsGrid.cshtml")
                   <br>
               </div>

               <button type="submit" class="btn-warning">Save Report</button> 
              </div>  
           
          }
        
      </div>

        
    </fieldset>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    
    function showParameters() {

        if ($("#Query").valid()) {
            $("#ReportParametersGrid").data("kendoGrid").dataSource.read();
            $("#outPutSelection").fadeIn();
            
        }
    }
    
    function getColumnNames() {

        var query = $("#Query").val();

        var parameters = JSON.stringify(getParameters());

        return {            
            query: query,
            parameters: parameters
        };
    }

    function onOutPutSelection() {
        if (!$("#Query").valid()) {
            return;
        }
        
        $("#outPutSelection").fadeOut();
        

        $("#ReportColumnNames").data("kendoGrid").dataSource.read();
    }
    
    function getParameters() {

        var parameters = [];

        var inputs = document.getElementsByTagName('input');
        
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].name === 'Parameter') {
                parameters.push(inputs[i].value);
            }
        }
        return parameters;
    }
    
    function onResetOutPutSelection() {

       // window.reload();
        $("#resetOutPutSelection").fadeOut();
        $("#outPutSelection").fadeIn();
        $("#outPut").fadeOut();
    }

    function getFilteringData() {
        return {
            reportId: $("#reportId").val(),
            mode: $("#mode").val()
        };
    }
    
    function getStoreProcedureName() {
        return {            
            spName: $("#Query").val()  
        };
    }

</script>