@model VirtualOffice.Web.Models.MerchantCreationModel
@{
    Layout = "~/Views/Shared/_NewUserLayout.cshtml";

    var allStates = ViewBag.AllStates as SelectList;
}

<div class="container select" id="main">
    <div class="row">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4>General Information</h4>
            </div>
            <div class="panel-body text-center">
                <div>
                    @using (Html.BeginForm("CreateAccount", "Manager"))
                    {
                        <div class="row text-success" style="margin: 10px 0">
                            @ViewBag.Message
                        </div>
                        <div class="row has-error" style="margin: 10px 0">
                            @ViewBag.Error
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("Legal name of business")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.BusinessName, new { @class = "form-control ", @placeholder = "Legal name of business", @type = "text" })
                                @Html.ValidationMessageFor(model => model.BusinessName)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("Business Phone No")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.BusinessPhone, new { @class = "form-control", @placeholder = "Business Phone No.", @type = "text" })
                                @Html.ValidationMessageFor(model => model.BusinessPhone)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("Business Fax No")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.BusinessFax, new { @class = "form-control", @placeholder = "Business Fax No.", @type = "text" })
                                @Html.ValidationMessageFor(model => model.BusinessFax)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("DBA (Doing Business As)")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.DBA, new { @class = "form-control", @placeholder = "DBA (Doing Business As)", @type = "text" })
                                @Html.ValidationMessageFor(model => model.DBA)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("E-Mail Address")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "E-Mail Address", @type = "email" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("Cellphone #")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.CellPhone, new { @class = "form-control", @placeholder = "Cellphone #", @type = "text" })
                                @Html.ValidationMessageFor(model => model.CellPhone)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("Business Street Address")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.BusinessStreet, new { @class = "form-control", @placeholder = "Business Street Address", @type = "text" })
                                @Html.ValidationMessageFor(model => model.BusinessStreet)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("City")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.BusinessCity, new { @class = "form-control", @placeholder = "City", @type = "text" })
                                @Html.ValidationMessageFor(model => model.BusinessCity)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("State")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.DropDownListFor(m => m.BusinessState, allStates, "- Please select a state -", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BusinessState)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("ZIP")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.BusinessZip, new { @class = "form-control", @placeholder = "ZIP", @type = "text" })
                                @Html.ValidationMessageFor(model => model.BusinessZip)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("Guarantor Name")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.GuarantorName, new { @class = "form-control", @placeholder = "Guarantor Name", @type = "text" })
                                @Html.ValidationMessageFor(model => model.GuarantorName)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                                @Html.Label("Guarantor Phone No")
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                @Html.TextBoxFor(model => model.GuarantorPhone, new { @class = "form-control", @placeholder = "Guarantor Phone No", @type = "text" })
                                @Html.ValidationMessageFor(model => model.GuarantorPhone)
                            </div>
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 text-right " >
                            <input type="submit" class="btn btn-secundary" value="Submit"/>
                        </div>
                    }
                </div> <!-- .row -->
            </div>
        </div>
    </div>

</div>

<style>
    .panel{
        margin-top : 20PX;
    }
   
</style>