@using ClassLibrary2.Domain
@using VirtualOffice.Web.Infrastructure
@using VirtualOffice.Web.Models
@using VirtualOffice.Web.Models.NewReports
@using VirtualOffice.Web.HtmlHelpers



@{
    Layout = "~/Views/Shared/_NewUserLayout.cshtml";

    var columnsCofig = Model.ColumnsConfig as Dictionary<string, ColumnConfig>;

    var startDate = Model.DateRange.StartDate;
    var endDate = Model.DateRange.EndDate;

    var data = @ViewBag.Data;

}

<div class="container select" id="main">
    <input id="printLink" type="hidden" value="@Model.PrintLink">
    <input id="storeProcedure" type="hidden" value="@Model.StoreProcedureName">

    <hr />

    <div class="panel-heading">
        <div class="row">
            <div class="hidden-xs col-sm-9 col-md-9">
                <h3 class="text-secundary">General Sales Summary</h3>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-3 text-right under15">
                <a class="btn btn-print btn-sm" id="PrintReportsBtn" onclick="PrintReport(false)"><span class="glyphicon glyphicon-print"></span> Print</a>
                <a id="exportButton" class="btn btn-print btn-sm" onclick="PrintReport(true)"><span class="glyphicon glyphicon-export"></span> Export</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" id="sidebar">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-target="#collapse1" class="expand">Elements on Report <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="collapse1">
                        <label for="last-visit" class="control-label">View Accounts:</label>
                        <div class="">
                            @foreach (var column in columnsCofig.Keys)
                            {
                                <div class="checkbox">
                                    <label id=@string.Format("label^{0}", column)>
                                        <span>@Html.CheckBox("columnName^" + column, !(columnsCofig)[column].Hidden, new { @value = column, onchange = "UpdateDataProjection()" })</span>
                                        <span class="fix_checkbox">@columnsCofig[column].Label</span>
                                    </label>
                                </div>
                            }
                            <div class="checkbox">
                                <label class="text-secundary">
                                    @Html.CheckBox("saveOutputAsDefault")<span class="fix_checkbox">Save as default</span>
                                </label>
                            </div>
                            <br />
                            <div class="">
                                <button type="button" class="btn btn-secundary" onclick="applyUserfilters()">Go!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-target="#collapse2" class="expand">Filter by Attributes <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="collapse2">
                        <label>Start Date: </label>
                        @(Html.Kendo().DatePicker().Name("startDate").Value(startDate).HtmlAttributes(new { style = "width: 115px;" }))
                        <br>
                        <label>End Date: </label>
                        @(Html.Kendo().DatePicker().Name("endDate").Value(endDate).HtmlAttributes(new { style = "width: 115px;" }))
                        <br>
                        <div class="">
                            <button type="button" class="btn btn-secundary" onclick="applyUserfilters()">Go!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-20">
        <div style="text-align: center;">
            @foreach (var header in data.Keys)
            {
                <div class="type-status-filter">
                    <div class="header">@header</div>
                    <div class="body"> @foreach (var merType in data[header].Keys)
                    { <span><a href="#@string.Format("{0}_{1}", header, merType)">@merType</a></span> } </div>
                </div>
            }
        </div>
        @foreach (var header in data.Keys)
        {
            foreach (var merType in data[header].Keys)
            {
                List<SalesAgentMerchantSalesResultViewModel> activePos = data[header][merType];
                if (!activePos.Any()) { continue; }

                <div class="table-info" id="@string.Format("{0}_{1}", header, merType)">
                    Distributor General Sales Summary for @startDate.ToString("d") to @endDate.ToString("d") <br>
                    <strong>@header</strong>
                </div>
                <table>
                    <thead>
                        <tr>
                            @foreach (var col in columnsCofig.Keys) { <th>@Html.Raw(columnsCofig[col].Label)</th> }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in activePos)
                        {
                            <tr>
                                <td class="merchant-identifier">@Html.MerchantIdentifier(@item)</td>
                                @*change for if is numeric display it with this helper*@
                                <td>@Html.DisplayCurrency(@item.PrepaidTotal)</td>
                                <td>@Html.DisplayCurrency(@item.CellularTotal)</td>
                                <td>@Html.DisplayCurrency(@item.TotalOtherProducts)</td>
                                @if (item.GeneralTotal != 0)
                                {
                                    <td><a href="~/PrepaidReports/SalesDetails?merchantId=@item.Merchant_Pk">@Html.DisplayCurrency(@item.GeneralTotal)</a></td>
                                }
                                else{ 
                                    <td>@Html.DisplayCurrency(@item.GeneralTotal)</td>
                                }
                                <td>@Html.DisplayCurrency(@item.GeneralDiscount)</td>
                                <td>@Html.DisplayCurrency(@item.FeesDebitCreditSales)</td>
                                <td>@Html.DisplayCurrency(@item.GeneralNet)</td>
                                <td>@Html.DisplayCurrency(@item.AgentDiscount)</td>
                                <td>@Html.DisplayCurrency(@item.CurrentBalance)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr style="font-size:12px; background-color: #ddd">
                            <td></td>
                            @*change for if is numeric display it with this helper*@
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.PrepaidTotal))</td>
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.CellularTotal))</td>
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.TotalOtherProducts))</td>
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.GeneralTotal))</td>
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.GeneralDiscount))</td>
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.FeesDebitCreditSales))</td>
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.GeneralNet))</td>
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.AgentDiscount))</td>
                            <td>@Html.DisplayCurrency(@activePos.Sum(m => m.CurrentBalance))</td>
                        </tr>
                        <tr class="legend">
                            <td colspan="100">
                                <img src="~/Content/img/icon_no_sales.gif" alt="No Sales Transactions registered in last 24+ hours" border="0">
                                <small> = No invoiced sales transactions for the merchant in last 24+ hours.</small><br>
                                <small>(*) Balance for the accounts as of @endDate.ToString("d") 11:59:59 PM.</small>
                            </td>
                        </tr>
                        <tr>
                            @foreach (var col in columnsCofig.Keys) { <th>@Html.Raw(columnsCofig[col].Label)</th> }
                        </tr>
                    </tfoot>
                </table>
                <div>
                    <p style="text-align: center;font-size: 11px;color: #666;line-height: 13px;font-family: Arial,Helvetica,Geneva;margin: 15px 0px;">This is not a legal statement</p>
                    <a href="#top" style="font-size: 12px;color: #000;font-family: Arial,Geneva,Helvetica;margin: 20px 0 10px 0">
                        <img src="~/Content/img/ASC.gif"/>
                        top of page
                    </a>
                </div>
            }
        }
    </div>
</div>


<style>

    .type-status-filter{
        display:inline-block;
    }
    table .numeric {
        text-align: right;
        vertical-align: top;
    }
    table {
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
    }
    td,
    th {
        padding: 5px 5px 5px 5px;
        border-left: 1px solid #999;
    }
    tr {
        border-top: 1px solid #999;
    }
    .type-status-filter{
        margin: 0 20px;
        text-align: center;
    }
    .type-status-filter .header{
	    text-align: center;
	    font-size: 14pt;
    }
    .type-status-filter .body{
	    font-size: 11px;
    }
    .type-status-filter .body span{
	    margin: 0 9px;
    }
    .table-info{
	    margin-top: 10px;
	    background-color: #fafad2;
	    border: solid 1px #999;
	    padding: 5px;
    }
    table thead th, table tfoot tr th{
	    font-size:12px; 
	    background-color: #ddd;
       text-align: center;
    }
    table tbody{
	    FONT-SIZE: 10px; 
	    FONT-FAMILY: verdana;
    }
    table tfoot tr.legend{
	    background-color: #fff;
    }
    table tfoot tr.legend td{
	    padding: 1px 10px
    }
    .no-wrap{
	    white-space: nowrap;
    }
    table tbody tr td.merchant-identifier span img{
        margin: 0 2px;
    }
    table tbody tr td.merchant-identifier span{
        display: block;
    }

</style>
