@using ClassLibrary2.Domain
@using VirtualOffice.Web.Infrastructure
@using VirtualOffice.Web.Models
@using VirtualOffice.Web.Models.NewReports
@using VirtualOffice.Web.HtmlHelpers


@{
    Layout = "~/Views/Shared/_NewUserLayout.cshtml";

    var columnsCofig = Model.ColumnsConfig;

    var dateRange = Model.DateRange;
    var startDate = dateRange.StartDate;
    var endDate = dateRange.EndDate;

    var accountSectionHeader = new Dictionary<string, ColumnConfig>(ViewBag.AccountSectionHeader);
    var activePos = new List<SalesAgentMerchantSalesResultViewModel>(@ViewBag.Data);

}

<div class="container select" id="main">
    <input id="printLink" type="hidden" value="@Model.PrintLink">
    <input id="storeProcedure" type="hidden" value="@Model.StoreProcedureName">

    <hr />

    <div class="panel-heading">
        <div class="row">
            <div class="hidden-xs col-sm-9 col-md-9">
                <h3 class="text-secundary">General Sales Summary</h3>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-3 text-right under15">
                <a class="btn btn-print btn-sm" id="PrintReportsBtn" onclick="PrintReport(false)"><span class="glyphicon glyphicon-print"></span> Print</a>
                <a id="exportButton" class="btn btn-print btn-sm" onclick="PrintReport(true)"><span class="glyphicon glyphicon-export"></span> Export</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" id="sidebar">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-target="#collapse1" class="expand">Elements on Report <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="collapse1">
                        <label for="last-visit" class="control-label">View Accounts:</label>
                        <div class="">
                            @foreach (var column in columnsCofig.Keys)
                            {
                                <div class="checkbox">
                                    <label id=@string.Format("label^{0}", column)>
                                        <span>@*@Html.CheckBox("columnName^" + column, !columnsCofig[column].Hidden, new { @value = column, onchange = "UpdateDataProjection()" })*@</span>
                                        <span class="fix_checkbox">@columnsCofig[column].Label</span>
                                    </label>
                                </div>
                            }
                            <div class="checkbox">
                                <label class="text-secundary">
                                    @Html.CheckBox("saveOutputAsDefault")<span class="fix_checkbox">Save as default</span>
                                </label>
                            </div>
                            <br />
                            <div class="">
                                <button type="button" class="btn btn-secundary" onclick="applyUserfilters()">Go!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-target="#collapse2" class="expand">Filter by Attributes <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="collapse2">
                        <label>Start Date: </label>
                        @(Html.Kendo().DatePicker().Name("startDate").Value(startDate).HtmlAttributes(new { style = "width: 115px;" }))
                        <br>
                        <label>End Date: </label>
                        @(Html.Kendo().DatePicker().Name("endDate").Value(endDate).HtmlAttributes(new { style = "width: 115px;" }))
                        <br>
                        <div class="">
                            <button type="button" class="btn btn-secundary" onclick="applyUserfilters()">Go!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-20">
        @foreach (var header in accountSectionHeader.Keys)
        {
            <div class="type-status-filter">
                <div class="header">
                    @accountSectionHeader[header].Label
                </div>
                <div class="body">
                    @foreach (var col in columnsCofig.Keys)
                    {
                        <span><a href="#">@columnsCofig[col].Label</a></span>
                    }
                </div>
            </div>
        }
        <div class="table-info">
            Distributor General Sales Summary for @startDate.ToString("d") to @endDate.ToString("d") <br>
            <strong>ACTIVE ACCOUNT</strong>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th class="merchant-identifier">[MID] Merchant Name /
                        Merchant DBA
                        City, State ZIP
                    </th>
                    <th>Long Distance</th>
                    <th>Cellular Recharge</th>
                    <th>Other Prepaid</th>
                    <th>Total Sales</th>
                    <th>Merchant Commission</th>
                    <th>Fees & Debt/Crdt</th>
                    <th>Net Amount</th>
                    <th>Distributor Commission</th>
                    <th>Balance as of @endDate.ToString("d")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in activePos)
                {
                    <tr>
                        <td class="merchant-identifier">@Html.MerchantIdentifier(@item)</td>
                        <td>@Html.DisplayCurrency(@item.PrepaidTotal)</td>
                        <td>@Html.DisplayCurrency(@item.CellularTotal)</td>
                        <td>@Html.DisplayCurrency(@item.TotalOtherProducts)</td>
                        <td>@Html.DisplayCurrency(@item.GeneralTotal)</td>
                        <td>@Html.DisplayCurrency(@item.GeneralDiscount)</td>
                        <td>@Html.DisplayCurrency(@item.FeesDebitCreditSales)</td>
                        <td>@Html.DisplayCurrency(@item.GeneralNet)</td>
                        <td>@Html.DisplayCurrency(@item.AgentDiscount)</td>
                        <td>@Html.DisplayCurrency(@item.CurrentBalance)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="font-size:12px; background-color: #ddd">
                    <td></td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.PrepaidTotal))</td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.CellularTotal))</td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.TotalOtherProducts))</td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.GeneralTotal))</td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.GeneralDiscount))</td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.FeesDebitCreditSales))</td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.GeneralNet))</td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.AgentDiscount))</td>
                    <td>@Html.DisplayCurrency(@activePos.Sum(m => m.CurrentBalance))</td>
                </tr>
                <tr class="legend">
                    <td colspan="100" >
                        <img src="~/Content/img/icon_no_sales.gif" alt="No Sales Transactions registered in last 24+ hours" border="0">
                        <small> = No invoiced sales transactions for the merchant in last 24+ hours.</small><br>
                        <small>(*) Balance for the accounts as of @endDate.ToString("d") 11:59:59 PM.</small>
                    </td>
                </tr>
                <tr>
                    <th class="merchant-identifier" style="text-align: center">[MID] Merchant Name /
                        Merchant DBA
                        City, State ZIP
                    </th>
                    <th>Long Distance</th>
                    <th>Cellular Recharge</th>
                    <th>Other Prepaid</th>
                    <th>Total Sales</th>
                    <th>Merchant Commission</th>
                    <th>Fees & Debt/Crdt</th>
                    <th>Net Amount</th>
                    <th>Distributor Commission</th>
                    <th>Balance as of @endDate.ToString("d")</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

#<!-- #region Draw Functions-->

<!-- #endregion -->

<style>

    .type-status-filter{
        display:inline-block;
    }
    table .numeric {
        text-align: right;
        vertical-align: top;
    }
    table {
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
    }
    td,
    th {
        padding: 5px 5px 5px 5px;
        border-left: 1px solid #999;
    }
    tr {
        border-top: 1px solid #999;
    }
    .type-status-filter .header{
	    text-align: center;
	    font-size: 14pt;
    }
    .type-status-filter .body{
	    font-size: 11px;
    }
    .type-status-filter .body span{
	    margin-right: 17px;
    }
    .table-info{
	    margin-top: 10px;
	    background-color: #fafad2;
	    border: solid 1px #999;
	    padding: 5px;
    }
    table thead th, table tfoot tr th{
	    font-size:12px; 
	    background-color: #ddd;
       text-align: center;
    }
    table tbody{
	    FONT-SIZE: 12px; 
	    FONT-FAMILY: verdana;
    }
    table tfoot tr.legend{
	    background-color: #fff;
    }
    table tfoot tr.legend td{
	    padding: 1px 10px
    }
    .no-wrap{
	    white-space: nowrap;
    }
    table tbody tr td.merchant-identifier span{
        display: block;
    }
    table tbody tr td.merchant-identifier span img{
        margin: 0 2px;
    }

</style>
